@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
  box-sizing: border-box
}
.search-div{
  height: 48px;
  border-radius: 5px;
  padding: 10px 10px;
  width: 338px;
  border: 0.5px solid #4F4F4F;
  @media screen and (max-width: 767px) {
    width: 100%;
    background: rgba(196, 196, 196, 0.2);
  }
  input{
    border-style: none;
    width: 90%;
    font-size: 12px;
    @media screen and (max-width: 767px) {
      width: 90%;
      background: transparent;
    };
    &:hover{
      outline: none
    }
    &:focus{
      outline: none
    }
    
  }
}
.header-item{
  margin: 10px !important;
  padding: 0 !important;
  p{
    font-size: 14px
  }
}
.second-header{
  border-bottom: 0.5px solid #828282;
}
.third-header{
  overflow-x: auto;
  p{
    margin-bottom: 0;
    min-width: fit-content;
    font-size: 13px;
    margin-right: 38px;
    &:nth-child(10){
      margin-right: 0px
    }
  }
}
.carousel-item{
  img{
    width: 100%;
    max-height: 48vw;
    object-fit: cover;
    @media screen and (min-width: 768px) and (max-width: 992px) {
      min-height: 550px;
    }
  }
}
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  list-style: none;
}
.carousel-indicators li.active{
  background-color: #F4811F
}
.hero{
  position: relative;
}
.hero-text{
  position: absolute;

  width: 460px;
  height: 352px;
  border-radius: 5px;
  background-color: white;
  padding: 3% 7% 3% 3%;
  top:50%;
  z-index: 20;
  transform: translateY(-50%);
  @media screen and (min-width: 768px) and (max-width: 992px) {
    width: 380px;
    top:50%;
    height: auto;
  }
  h1{
    font-size: 24px;
    font-weight: normal
  }
  p{
    font-size: 18px;
    span{
      color: #F4811F;
      font-style: italic;
    }
  }
  button{
    width: 100%;
    border-style: none;
    border-radius: 5px;
    height: 64px;
    background-color: black;
    color: white;
    p{
      font-size: 14px;
    }
  }
}
.hero-smallscreen{
  h1{
    font-size: 18px;
    font-weight: normal
  }
  p{
    font-size: 14px;
    width: 86%;
    span{
      color: #F4811F;
      font-style: italic;
    }
  }
  button{
    height: 48px;
    border-style: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    p{
      font-size: 14px;
    }
  }
}

.ShowSpaceHeading{ 
  h5{
    font-size: 20px
  }
  p{
    color: #F4811F;
    font-size: 18px
  }
}