@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
  box-sizing: border-box
}
.search-div{
  height: 48px;
  border-radius: 5px;
  padding: 10px 10px;
  width: 338px;
  border: 0.5px solid #4F4F4F;
  @media screen and (max-width: 767px) {
    width: 100%;
    background: rgba(196, 196, 196, 0.2);
  }
  input{
    border-style: none;
    width: 90%;
    font-size: 11px;
    @media screen and (max-width: 767px) {
      width: 80%;
      background: transparent;
    };
    &:hover{
      outline: none
    }
    &:focus{
      outline: none
    }
    
  }
}
.sidebar{
  position: absolute;
  z-index:30;
  left: -100%;
  transition: all 0.6s ease;
  background-color: black;
  p{
    width: fit-content
  }
}
.header-item{
  margin: 10px !important;
  padding: 0 !important;
  p{
    font-size: 14px;
    cursor: pointer;
  }
}
.second-header{
  border-bottom: 0.5px solid #828282;
  p{
    font-weight: 600;
    color: #4F4F4F;
  }
}
.third-header{
  overflow-x: auto;
  p{
    margin-bottom: 0;
    min-width: fit-content;
    font-size: 13px;
    margin-right: 38px;
    &:nth-child(10){
      margin-right: 0px
    }
  }
}

.orange-text{
  color: #F4811F
}
.carousel-item{
  img{
    width: 100%;
    max-height: 650px;
    object-fit: cover;
    @media screen and (min-width: 768px) and (max-width: 992px) {
      min-height: 550px;
    }
  }
}
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  list-style: none;
}
.carousel-indicators li.active{
  background-color: #F4811F
}
.hero{
  position: relative;
}
.hero-text{
  position: absolute;

  width: 460px;
  height: 352px;
  border-radius: 5px;
  background-color: white;
  padding: 3% 7% 3% 3%;
  top:50%;
  z-index: 20;
  transform: translateY(-50%);
  @media screen and (min-width: 768px) and (max-width: 992px) {
    width: 380px;
    top:50%;
    height: auto;
  }
  h1{
    font-size: 24px;
    font-weight: normal
  }
  p{
    font-size: 18px;
    span{
      color: #F4811F;
      font-style: italic;
    }
  }
  button{
    width: 100%;
    border-style: none;
    border-radius: 5px;
    height: 64px;
    background-color: black;
    color: white;
    p{
      font-size: 14px;
    }
  }
}
.hero-smallscreen{
  h1{
    font-size: 18px;
    font-weight: normal
  }
  p{
    font-size: 14px;
    width: 86%;
    span{
      color: #F4811F;
      font-style: italic;
    }
  }
  button{
    height: 48px;
    border-style: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    p{
      font-size: 14px;
    }
  }
}

.ShowSpaceHeading{ 
  h5{
    font-size: 20px
  }
  p{
    color: #F4811F;
    font-size: 18px
  }
}

.SpaceItem{
  position: relative;
  width: 32.5%;
  @media screen  and (max-width: 767px ){
    width: 31%;
  }
  border-radius: 5px;
  box-sizing: content-box;
  h5{
    color: #000000;;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }
  img{
    width: 100%;
    height: 272px;
    border-radius: 5px;
    max-height: 272px;
    @media screen  and (max-width: 767px ){
      height: 128px;
      max-height: 128px;
    }
    object-fit: cover;
  }

  .space-small{
    font-size: 12px;
  }
  .SpaceTag{
    position: absolute;
    width: 150px;
    height: 47px;
    left: 8%;
    border-radius: 5px;
    bottom: 10%;
    background-color: white;
    color: #F4811F;
    h4{
      font-size: 16px;
      font-weight: 500
    }
  }
}

.FeaturedCategories{
    h4{font-size: 20px;
    font-weight: 600;
    @media screen and  (max-width: 767px) {
      font-size: 18px
    };
  }
}

.featuredCategoryItem{
  width: 100% !important;
  
  img{
    width: 100%;
    height: 496px;
    @media screen and  (max-width: 767px) {
      height: 177px;
    };
    @media screen and (min-width: 768px) and (max-width: 992px) {
      height: 320px;
    };
    object-fit: cover;
  };
  .FeaturedCategoryTag{
    position: absolute;
    width: auto;
    height: 47px;
    left: 8%;
    border-radius: 5px;
    bottom: 10%;
    background-color: white;
    color: #F4811F;
    @media screen  and (max-width:767px){
      width: auto;
      height: 32px;
      left: 8%;
      border-radius: 5px;
      bottom: 10%;
      background-color: #FFCA05;
      color: black;
    }
    h4{
      font-size: 16px;
      font-weight: normal;
      @media screen  and (max-width:767px) {
        font-size: 22px;
        font-weight: 500;
      }
    }
  }
}

.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: right !important;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots {
  display:  none !important;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav .disabled {
  opacity: 1 !important;
  cursor: default;
}

.PopularProductsDiv{
    box-shadow: 0px 24px 44px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    h4{
      font-size: 20px;
      font-weight: 600;
      @media screen and  (max-width: 767px) {
        font-size: 18px
      };
    }
}

.old-price{
  color: #FF0000;
  text-decoration-line: line-through;
}
.PopularScroll{
  overflow-x: scroll;
}

.PopularProductsItem{
  width: 24%;
  position: relative;
  @media screen and  (max-width: 767px) {
    min-width: 37%;
  };
  @media screen and (min-width: 768px) and (max-width: 992px) {
    width: 32%;
  };
  img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    @media screen and  (max-width: 767px) {
      height: 200px;
    };
    @media screen and (min-width: 768px) and (max-width: 992px) {
      height: 200px;
    };
  }
  h5{
    font-size: 12px;
    @media screen and  (max-width: 767px) {
      font-size: 12px;
      font-weight: 600
    };
  }
  p{
    font-size: 14px;
    font-weight: 600;
    @media screen and  (max-width: 767px) {
      font-size: 12px
    };
  }
  .PopularProductsTag{
    position: absolute;
    left: 0;
    
    top: 10%;
    background-color: black;
    color: white;
    h4{
      font-size: 19px;
      @media screen and  (max-width: 767px) {
        font-size: 10px
      };
    }
  }
}

.view-all{
  font-size: 14px !important;
  color: #F4811F;
  @media screen and  (max-width: 767px) {
    font-size: 12px !important
  };
}

.MobileViewAll{
  width: 100%;
  background: black;
  
  background: #000000;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  height: 48px;
  p{
    font-size: 14px;
    font-weight: 500;
    color: #F2F2F2;
  }
}

.mailing{
  background: #F2F2F2;
  border-radius: 5px;

  h4{
    font-size: 18px
  };
  p{
    font-size: 14px;
    width: 280px;
    @media screen and  (max-width: 767px) {
      width: 100%;
    };
  }
  input{
    border-style: none;
    width: 60%;
    background: #F2F2F2;
    border-bottom: 0.5px solid #000000;
    font-size: 12px;
    &:hover{
      outline: none
    }
    &:focus{
      outline: none
    }
  }
  button{
    background: #000000;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    width: 176px;
    height: 64px;
    color: white;
    @media screen and  (max-width: 767px) {
      width: 50%;
      height: 48px
    };
  } 
}

.Footer{
 background: #333333;
 color: white;
 font-size: 12px;
 .FooterItem{
   width: 23%;
   h5{
     font-size: 14px;
     font-weight: 600;
   }
  .FooterDetails{
    width: 88%;
  }
   @media screen and  (max-width: 767px) {
   width: 100%;
  };
  @media screen and (min-width: 768px) and (max-width: 992px) {
    width: 30%;
    
  };
  .FooterHeader{
    height: 48px;
  }
  .FooterHover{
    margin-bottom: 5px;
    &:hover{
      color: #F4811F;
    }
  }
 }
}

.contacts{
  background: black
}

.MobileContacts{
  padding-left: 0;
  padding-right: 0
}